body {font-family: Georgia; 
	text-align: center; 
	background-color: rgba(236, 240, 241,1.0);
    color: rgb(44, 62, 80);}
 
ol {list-style-type: none;}

div {background-color: white;
    width: 500px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
}

#slogan {font-style: italic;}