

body {text-align:center;
	color: #656565;
	background-color: #f3ebe9;
	font-family: sans-serif;
	font-style: arial;}


img {background-color: #cccccc;
   border-width:2px;
   border-style: solid;
   border-color: #cccccc;
   height: 350px;
   width: auto;
}


h1 {font-size: 26px;
	background: white;
	color:#999999;
	padding: 12px;}

h2 {font-size: 18px;
	background: white;
	padding: 10px;
	}

#press img {height: 100px;
		width:auto;
		border: .5px solid ##cccccc;}

p {font-size: 10px;
	font-family: Georgia;}
